:root{
  --primary: #a74eff98;
  --secondary: #1ed1e9ad;
  --dark: #131A26;
  --light: #EEEEEE;
  --grey: #888888;
  --font: 'Fira Sans', sans-serif;
  --font-quote: 'Fira Code', monospace;
}

.App {
  text-align: center;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(120deg, #eb9748cd 37%, #f6f33ce3 80%);
  padding:10px;
  width: 100%;
  height:auto;
  border-radius: 6px;
}

.App h1{
  text-align: center;
  color: rgba(58, 29, 201, 0.519);
  font-family: "Poppins", sans-serif;
}

.form{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 30px
}
.form input[type="text"]{
  padding:10px;
  width: 100%;
  border: 5px solid #eee;
  border-radius: 6px;
}
.form input[type="text"]:focus,
.form button[type="submit"]:focus{
  outline:none;
}
.form button[type="submit"]{
  color: #aa2682be;
  background: #f7fffe;
  cursor: pointer;
  transition: all 0.3s ease;
}

button{
  appearance: none;
  border: none;
  outline: none;
  background-color: #7ff3a4bc;
  color: #fff;
  padding: 00.75rem 1.5rem;
  border-radius: 3rem;
  margin-top: 64px;
  transition: 0.4s;
  font-size: 1.5rem;
  cursor: pointer;
}
button:hover{
  background-color: #d5fe65f3;
}